# Following file holds the movie info list:
CreateMovieList/src/data/movieCache.txt

Filme/liste/*.html
Filme/liste/covers/*.jpg
CreateMovieList/src/data/*.trash
CreateMovieList/src/output_batch/copy Covers to Dir.bat
*.lnk
Filme/liste/covers/
